section.repository-list {
  margin: 2.5rem;
  h1 {
    text-align: center;
    font-size: 2rem;
  }

  input {
    height: 3rem;
    padding: 0 2rem;
    border: 0;
    width: 100%;
    font-size: 1rem;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
    border: 2px solid #333;
    margin-bottom: 2rem;
    margin-top: 3rem;

  }
  ul {
    list-style: none;
  }
}
